<div class="container">
    <h3 class="text-center" style="margin: 10px;">Chat Berichten</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">

                <!-- Heading left panel-->
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Inbox berichten</h4>
                    </div>
                    <!-- <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div> -->
                </div>

                <!-- Left panel chats-->
                <div class="inbox_chat">
                    <!-- requested chat -->
                    <div (click)="selectInboxRow(newRow)" *ngIf="isRequestRowAvailable()" class="chat_list"
                        [class.active_chat]="isRowSelected(newRow)">
                        <div class="chat_people">
                            <div class="chat_ib">
                                <h5>
                                    <span class="chat_inbox_name">{{newRow.supplier.name}}</span>
                                    <span class="chat_date">{{newRow.createdDate}}</span>
                                </h5>
                                <span class="chat_inbox">{{newRow.message}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- inbox -->
                    <div (click)="selectInboxRow(row)" *ngFor="let row of inbox" class="chat_list"
                        [class.active_chat]="isRowSelected(row)">
                        <div class="chat_people">
                            <div class="chat_ib">
                                <h5>
                                    <span *ngIf="isCustomer" class="chat_inbox_name">{{row.supplier.name}}</span>
                                    <span *ngIf="!isCustomer" class="chat_inbox_name">{{row.customer.name}}</span>
                                    <span class="chat_date">{{row.createdDate}}</span>
                                </h5>
                                <p class="chat_inbox">{{row.message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- messages receiver and sender-->
            <div class="mesgs" *ngIf="chatMessagesLoaded()">
                <div class="msg_history" #scrollWrapper>
                    <!-- warning -->
                    <div class="firstMessage" *ngIf="requestedChatHasNoHistory()">
                        <fa-icon class="fa-lg firstMessageIcon" [icon]="messageIcon"></fa-icon>
                        <span> Schrijf een bericht om een gesprek te beginnen :)</span>
                    </div>
                    <div *ngFor="let msgData of messages">
                        <!-- sender -->
                        <div *ngIf="msgData.direction=='LEFT'" class="incoming_msg">
                            <span class="dot">{{constructNameId(msgData.sender.chatName)}}</span>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p class="chatName">{{msgData.sender.chatName}}</p>
                                    <p>{{msgData.message}}</p>
                                    <span class="time_date">{{msgData.createdDate}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- receiver -->
                        <div *ngIf="msgData.direction=='RIGHT'" class="outgoing_msg">
                            <span
                                class="dot dot_receiver incoming_msg_img_right">{{constructNameId(msgData.sender.chatName)}}</span>
                            <div class="sent_msg">
                                <p class="chatName">{{msgData.sender.chatName}}</p>
                                <p>{{msgData.message}}</p>
                                <span class="time_date">{{msgData.createdDate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Message input field -->
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" spellcheck="false" class="write_msg" placeholder="Schrijf hier uw bericht..."
                            (keydown)="sendMessageWithEnter($event)" [(ngModel)]="newMessage" />
                        <button (click)="sendMessage()" class="msg_send_btn" type="button"
                            [disabled]="isInvalidMessage()" [ngClass]="{'msg_send_btn_blocked':isInvalidMessage()}">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </button>
                        <span *ngIf="showLoadingButton" class="dot dot_loading">
                            <fa-icon class="loadingIcon" [icon]="loadingIcon" [pulse]="true"></fa-icon>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Show this when no message is selected-->
            <div *ngIf="!inboxRowSelected()" class="mesgs text-center unselectedChat">
                Selecteer een chat in de inbox om berichten te lezen en versturen.
            </div>
        </div>
    </div>
</div>