<div class="container">
    <h3 class="text-center" style="margin: 10px;">Berichten</h3>
    <div class="messaging">

        <div class="inbox_msg">

            <div class="inbox_people">

                <!-- Heading left panel-->
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Inbox berichten</h4>
                    </div>
                    <!-- <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div> -->
                </div>

                <!-- Left panel chats-->
                <div class="inbox_chat">
                    <div (click)="selectInboxRow(row)" *ngFor="let row of inbox" class="chat_list"
                        [class.active_chat]="row === selectedRow">
                        <div class="chat_people">
                            <div class="chat_ib">
                                <h5>
                                    <span *ngIf="isCustomer" class="chat_inbox_name">{{row.supplier.name}}</span>
                                    <span *ngIf="!isCustomer" class="chat_inbox_name">{{row.customer.name}}</span>
                                    <span class="chat_date">{{row.createdDate}}</span>
                                </h5>
                                <p class="chat_inbox">{{row.message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mesgs" *ngIf="chatMessagesLoaded()">
                <!-- Messages receiver and sender-->
                <div class="msg_history" #scrollWrapper>

                    <div *ngFor="let msgData of messages">
                        <!-- sender -->
                        <div *ngIf="msgData.direction=='LEFT'" class="incoming_msg">
                            <div class="incoming_msg_img_left"><img
                                    src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p class="chatName">{{msgData.sender.chatName}}</p>
                                    <p>{{msgData.message}}</p>
                                    <span class="time_date">{{msgData.createdDate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <!-- receiver -->
                        <div *ngIf="msgData.direction=='RIGHT'" class="outgoing_msg">
                            <div class="incoming_msg_img_right"><img
                                    src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                            <div class="sent_msg">
                                <p class="chatName">{{msgData.sender.chatName}}</p>
                                <p>{{msgData.message}}</p>
                                <span class="time_date">{{msgData.createdDate}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Message input field -->
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="newMessage" />
                        <button (click)="sendMessage()" class="msg_send_btn" type="button"
                            [disabled]="isInvalidMessage()" [ngClass]="{'msg_send_btn_blocked':isInvalidMessage()}"><i
                                class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

            <!-- Show this when no message is selected-->
            <div *ngIf="!inboxRowSelected()" class="mesgs text-center">
                Selecteer een selectie links in de inbox om de berichten te lezen.
            </div>
        </div>

    </div>
</div>
