.container {
    max-width: 1500px;
    margin: auto;
}

img {
    max-width: 100%;
}


.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 97%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    cursor: pointer;
}

.chat_inbox {
    height: 24px;
    width: 100%;
    display: inline-block;
    margin-top: -1px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
}

.chat_inbox_name {
    float: left !important;
    margin-bottom: 6px;
    font-weight: bold;
}

.inbox_people {
    background-image: url(https://i.imgur.com/XnU9DsV.png) ;
    float: left;
    overflow: hidden;
    width: 32%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    text-align: center;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    padding:0;
}

.headind_srch {
    padding: 15px 29px 15px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #255239;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.inbox_chat {
    height: 550px;
    overflow-y: auto;
}

.active_chat {
    background: #beff7a9e;
}

.incoming_msg {
    margin-bottom: 20px;
}

.incoming_msg_img_left {
    display: inline-block;
    width: 38px;
}

.incoming_msg_img_right {
    width: 38px;
    float: right;
    margin: 0 22px 0 10px;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.received_withd_msg h5{
    background: yellow none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.received_withd_msg > p.chatName {
    font-weight: 600;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.received_withd_msg > p:nth-child(2) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 100%;
    max-width: 530px;
}

.mesgs {
    float: left;
    padding: 0 0 0 25px;
    width: 68%;
}

.sent_msg p {
    background: #255239 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.sent_msg > p.chatName {
    text-align: right;
    padding-right: 21px;
    font-weight: 600;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sent_msg > p:nth-child(2) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.outgoing_msg > div.sent_msg > span.time_date {
    float: right;
}

.sent_msg {
    float: right;
    /* width: 100%; */
    max-width: 550px;
}

.write_msg:focus {
    outline-width: 0;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    padding-left: 18px;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
    margin-left: -25px;
}

.msg_send_btn {
    margin: -2px 15px -2px -2px;
    padding-right: 10px;
    background: #ff870c none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.msg_send_btn:focus {
    outline-width: 0;
}

.msg_send_btn_blocked {
    cursor: not-allowed;
    background: lightgray;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 555px;
    overflow-y: auto;
    padding-top: 35px;
    /* display: flex;
    flex-direction: column-reverse; */
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #ff870c;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 4px;
    color: #b95500;
    font-size: 20px;
    font-weight: 400;
}

.dot_receiver {
    background-color: #319038;
    color: #255239;
}

.dot_loading {
    position: absolute;
    left: 950px;
    top: 9px;
    height: 33px;
    width: 33px;
}

.loadingIcon {
    padding: 6px;
    position: relative;
    top: -3px;
    left: -2px;
    color: white;
}

.firstMessage {
    height: 45px;
    background: #ff870c45;
    border-radius: 5px;
    margin-right: 22px;
    position: relative;
    top: -22px;
    padding: 11px;
    color: gray;
    font-size: 14px;
}

.firstMessageIcon {
    margin-right: 10px;
    color: #ff870c;
}

.unselectedChat {
    margin-top: 10px;
}
