<div class="container mb-5">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center mt-5">
            <h2>Privacybeleid</h2>
        </div>
    </div>
    <p class="mt-3">
        Deze pagina is voor het laatst aangepast op 04-01-2021.</p>
    <p>Wij zijn er van bewust dat u vertrouwen stelt in ons. Wij zien het dan ook als onze verantwoordelijkheid om uw
        privacy te beschermen. Op deze pagina laten we u weten welke gegevens we verzamelen als u onze website gebruikt,
        waarom we deze gegevens verzamelen en hoe we hiermee uw gebruikservaring verbeteren. Zo snapt u precies hoe wij
        werken.
    </p>
    <p>Dit privacybeleid is van toepassing op de diensten van Van Streek. U dient zich ervan bewust te zijn dat
        Van Streek niet verantwoordelijk is voor het privacybeleid van andere sites en bronnen. Door gebruik te
        maken van deze website geeft u aan het privacy beleid te accepteren.
        Van Streek respecteert de privacy van alle gebruikers van haar site en draagt er zorg voor dat de
        persoonlijke informatie die u ons verschaft vertrouwelijk wordt behandeld.
    </p>
    <p><h5>Ons gebruik van verzamelde gegevens</h5>
    <strong>Gebruik van onze diensten </strong>
    <p>Wanneer u zich aanmeldt voor een van onze diensten vragen we u om persoonsgegevens te verstrekken. Deze gegevens
        worden gebruikt om de dienst uit te kunnen voeren. De gegevens worden opgeslagen op eigen beveiligde servers van
        Van Streek of die van een derde partij. Wij zullen deze gegevens niet combineren met andere persoonlijke
        gegevens waarover wij beschikken.
    </p>
    <p><strong>Communicatie </strong></p>
    <p>Wanneer u e-mail of andere berichten naar ons verzendt, is het mogelijk dat we die berichten bewaren. Soms
        vragen
        wij u naar uw persoonlijke gegevens die voor de desbetreffende situatie relevant zijn. Dit maakt het mogelijk uw
        vragen te verwerken en uw verzoeken te beantwoorden. De gegevens worden opgeslagen op eigen beveiligde servers
        van
        Van Streek of die van een derde partij. Wij zullen deze gegevens niet combineren met andere persoonlijke
        gegevens waarover wij beschikken.</p>
    <p><strong>Doeleinden </strong></p>
    <p>We verzamelen of gebruiken geen informatie voor andere doeleinden dan de doeleinden die worden beschreven in dit
        privacybeleid tenzij we van tevoren uw toestemming hiervoor hebben verkregen.
    </p>
    <p><strong>Derden </strong></p>
    <p>De informatie wordt niet met derden gedeeld. In enkele gevallen kan de informatie intern gedeeld worden. Onze
        werknemers zijn verplicht om de vertrouwelijkheid van uw gegevens te respecteren.</p>
    <p><strong>Veranderingen </strong></p>
    <p>Deze privacyverklaring is afgestemd op het gebruik van en de mogelijkheden op deze site. Eventuele aanpassingen
        en/of veranderingen van deze site, kunnen leiden tot wijzigingen in deze privacyverklaring. Het is daarom
        raadzaam om regelmatig deze privacyverklaring te raadplegen.</p>
    <p><strong>Keuzes voor persoonsgegevens </strong></p>
    <p>Wij bieden alle bezoekers de mogelijkheid tot het inzien, veranderen, of verwijderen van alle persoonlijke
        informatie die op moment aan ons is verstrekt.</p>
    <p><strong>Aanpassen/uitschrijven communicatie </strong></p>
    <p>Als u uw gegevens aan wilt passen of uzelf uit onze bestanden wilt laten halen, kunt u contact met ons op nemen.
        Zie onderstaande paragraaf.</p>
    <p><strong>Vragen en feedback </strong></p>
    <p>We controleren regelmatig of we aan dit privacybeleid voldoen. Als u vragen heeft over dit privacybeleid, kunt u
        contact met ons opnemen via onze <a href="" routerLink="/contact">contactenpagina</a>.</p>
</div>
