<div class="container text-center mt-4 p-3">
    <h2 class="h1-responsive font-weight-bold my-4">Aanvragen</h2>
    <p>Op deze pagina bevinden zich alle aanvragen gedaan door afnemers.</p>
</div>

<div class="container text-left p-2 mb-5">
    <div class="dashboard-table-header">
        <p class="text-uppercase font-weight-bold dashboard-table-color dashboard-header-category">Categorie</p>
        <p class="text-uppercase font-weight-bold dashboard-table-color dashboard-header-description">Beschrijving</p>
    </div>
    <div class="dashboard-table" *ngFor="let i of this.inquiry">
        <div class="dashboard-category">{{ i.inquiryCategory.name }}</div>
        <div class="dashboard-description">{{i.message}}</div>
    </div>
</div>
<br>
<br>
