<div class="container">
    <h5>Wijzig Leverancier gegevens: (De Duintuin - id:01)</h5>
    <form>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="img">Logo Leverancier: </label>
                <input type="text" class="form-control" id="img"
                       value="https://image.freepik.com/vrije-vector/fruit-en-groenten-logo_7085-159.jpg">
            </div>
            <div class="col-md-6">
                <img src="https://image.freepik.com/vrije-vector/fruit-en-groenten-logo_7085-159.jpg"
                     class="supplierImg" alt="">
            </div>
        </div>
        <div class="form-group">
            <label for="name">Naam Leverancier: </label>
            <input type="text" class="form-control" id="name" placeholder="" value="De Duintuin - Heemskerk">
        </div>
        <div class="form-group">
            <label for="telefoon">Telefoon: </label>
            <input type="text" class="form-control" id="telefoon" placeholder="" value="06 57322990">
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" class="form-control" id="email" placeholder="" value="info@duintuin.eu">
        </div>
        <div class="form-group">
            <label for="website">Website: </label>
            <input type="text" class="form-control" id="website" placeholder="" value="www.duintuin.eu">
        </div>
        <div class="form-group">
            <label for="adres">Adres: </label>
            <input type="text" class="form-control" id="adres" placeholder="" value="Cieweg 22, 1969 MS Heemskerk">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Beschrijving leverancier: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
In 2014 is De Duintuin gestart op initiatief van André Nelis. Samen met zijn partner Svetlana waren zij
verantwoordelijk voor de ontwikkeling van De Duintuin. Al snel werd het project groter als gedacht en werd
er ondersteuning gevonden bij de werkKRACHTcentrale voor het uitwerken van de ideeën. Mede dankzij de
werkKRACHTcentrale zijn er vrijwilligers actief op De Duintuin. Zonder al deze steun zou De Duintuin niet
bestaan in zijn huidige vorm: een sociale onderneming op zoek naar verbindingen in de maatschappij.

De Duintuin is een tuin in het Heemskerkse duingebied waar onbespoten groenten, kruiden en klein fruit voor
de regionale verkoop worden gekweekt met inzet van mensen die willen doorgroeien naar een volwaardige(r)
deelname aan de maatschappij.
        </textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Sla Wijzigingen op</button>
    </form>
    <a href="" routerLink="../">
        <button class="btn btn-danger mb-2">Annuleren</button>
    </a>

</div>
