<div class="container">
    <div class="my-5 row">
        <div class="col-md-5 mb-4 mb-md-0">
            <img class="img-fluid w-100" src="../../../assets/images/bloemkolen.jpeg"
                 alt="Sample">
        </div>

        <div class="col-md-7">
            <h5>Verse bloemkool 10Kg</h5>
            <p class="mb-2 text-muted text-uppercase small">Groente</p>

            <p><span class="mr-1"><strong>€0.49/Kg</strong></span></p>
            <p class="pt-1">Deze bloemkool komt van het land van Bob, Bob steekt erg veel tijd in het behandelen en
                uitzoeken van de beste en mooiste bloemkolen.</p>
            <hr>
            <form>
                <div class="form-group">
                    <label for="productAmount">hoeveelheid in kilo's: (minimaal 10 Kg)</label>
                    <input type="number" class="form-control" id="productAmount">
                </div>
                <button type="submit" class="btn btn-primary">Factuur aanvragen</button>
            </form>
        </div>
    </div>
</div>
