<div class="container">
    <div class="my-5 row">
        <div class="col-md-5 mb-4 mb-md-0">
            <img class="img-fluid w-100"
                 [src]="demoImage.sanatizeUrl(jsonData[0].productImage!=null?demoImage.atoba(jsonData[0].productImage.picByte):demoImage.productBase64Url)"
                 alt="Sample">
        </div>

        <div class="col-md-7">
            <h5>{{jsonData[0].name}}</h5>
            <p class="mb-2 text-muted text-uppercase small">{{jsonData[0].productCategory.name}}</p>

            <p><span class="mr-1"><strong>Prijs € {{jsonData[0].price}}/{{demoImage.determineUnitPricing(jsonData[0])}}</strong></span></p>
            <p><span class="mr-1"><i>Voorraad: {{jsonData[0].quantity}} {{jsonData[0].unit}}</i></span></p>
            <p class="pt-1">{{jsonData[0].description}}</p>
            <hr>
            <form>
                <div class="form-group">
                    <label for="productAmount">hoeveelheid in kilo's: (minimaal 10 Kg)</label>
                    <input type="number" class="form-control" id="productAmount">
                </div>
                <button type="submit" class="btn btn-primary" routerLink="/messages">Factuur aanvragen</button>
            </form>
            <a routerLink="/supplierinfo" [queryParams]="{id: jsonData[0].supplierId}">Bezoek verkoper pagina</a>
        </div>
    </div>
</div>
