<div class="row m-5 supplierRow">

    <!-- Left section - Profile Image -->
    <div class="col-md-2 col-sm-12">
        <img [src]="demoImage.sanatizeUrl(generatedImage)"
             class="supplierImg" alt="">
    </div>
    <!-- Middle section - Short description plus some links-->
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-md-12 col-sm-12"><b>{{supplier.companyName}}</b></div>
            <div class="col-md-12 col-sm-12"><p>{{supplier.shortDescription}}</p></div>
        </div>
        <div class="row supplierLinks">
            <div class="col-md-12 col-sm-12">

                <ul class="quickLinks p-1">
                    <li><a href="#" routerLink="/supplierinfo" (click)="allProducts()">| Aangeboden Objecten | </a></li>
                    <li><a href="mailto:{{supplier.contactEmail}}"> Contact | </a></li>
                    <li><a routerLink="/supplierinfo" [queryParams]="{id: supplier.id}" href=""> Zie volledige pagina | </a></li>
                    <!--<li><a href="https://www.facebook.com/deduintuinheemskerk/" target="_blank"> Facebook | </a></li>-->
                </ul>

            </div>
        </div>
    </div>
    <!-- Right section - Further details -->
    <div class="col-md-4 col-sm-12">
        <b>Gegevens: </b>
        <li *ngIf="supplier.website !=null && supplier.website!=''">Website: {{supplier.website}}</li>
        <li *ngIf="supplier.phoneNumber !=null && supplier.phoneNumber!=''">Telefoon: {{supplier.phoneNumber}}</li>
        <li *ngIf="supplier.contactEmail !=null && supplier.contactEmail!=''">Email: {{supplier.contactEmail}}</li>
        <li *ngIf="supplier.addresses !=null && supplier.addresses!=''">Adress: {{concatAddress()}}</li>
    </div>
</div>
