<div class="row m-5 supplierRow">

    <div class="col-md-2 col-sm-12">
        <img src="https://image.freepik.com/vrije-vector/fruit-en-groenten-logo_7085-159.jpg"
             class="supplierImg" alt="">
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-md-12 col-sm-12"><b>[CompanyName]</b></div>
            <div class="col-md-12 col-sm-12"><p>[Shordescription Company] ........ limit 255?</p></div>
        </div>
        <div class="row ">
            <div class="col-md-12 col-sm-12">

                <ul class="quickLinks p-1">
                    <li><a href="#" routerLink="/supplierinfo">| Aangeboden Objecten | </a></li>
                    <li><a href="mailto:lol"> Contact | </a></li>
                    <li><a routerLink="/supplierinfo" [queryParams]="{id: 1}" href=""> Zie volledige pagina | </a></li>
                    <!--<li><a href="https://www.facebook.com/deduintuinheemskerk/" target="_blank"> Facebook | </a></li>-->
                </ul>

            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <b>Gegevens: </b>
        <li>Website: [Company Website]</li>
        <li>Telefoon: [Company Phonenumber]</li>
        <li>Email: [Company Email]</li>
        <li>Adress: [Company Adress]</li>
    </div>

</div>
