<!-- moved to navbar -->
<!--<p>This is the index page when you open the app.</p>-->
<!--<a *ngIf="!isLoggedIn" routerLink="/login">login</a>-->
<!--<a *ngIf="isLoggedIn" routerLink="/logout">logout</a>-->
<!--<a routerLink="/users">users</a>-->
<!--<a routerLink="/products" [queryParams]="{id: userId}">products</a>-->

<!-- should be in .ts file -->
<!--<span *ngIf="hasAdminRole">this message should only be visible to an user with an admin-role</span>-->
<!--<span *ngIf="hasUserRole || hasAdminRole">this message should only be visible to an user with an user-role or admin-role</span>-->

<!-- full-width container with jumbotron -->
<div class="container-fluid">
    <!-- jumbotron with image and text -->
    <div class="jumbotron jumbotron-fluid">
        <div class="jumbotrontext text-center py-5 px-4">
            <div>
                <h2 class="slogan h1-responsive pt-3 mb-3 font-weight-bold"><strong>
                    BESTEL ONLINE EN HAAL ZELF OP, OF LAAT THUISBEZORGEN</strong></h2>
            </div>
        </div>
    </div>
</div>

<!-- container with body content -->
<div class="container text-left mt-4 p-3 mb-4">
    <!-- label -->
    <span class="label text-center btn-lg btn-block label-title">WIE ZIJN WIJ?</span>

    <!-- about the company -->
    <h4 class="font-weight-bold mt-5 label-title">Hoe breng je lokale leveranciers het meest effectief in contact met lokale
        afnemers?</h4>
    <br>
    <h6>Dat vroegen we ons af voordat Van Streek werd opgericht.
        <br>
        Dit vraagstuk is dan ook precies wat we willen aanpakken en oplossen met het systeem van Van Streek.
        <br>
        Wij zorgen ervoor dat kleine lokale leveranciers hun aanbod kunnen opgeven. Lokale afnemers kunnen dit aanbod
        bekijken en bestellingen plaatsen. Van Streek dient als generiek bestel en lever platform voor lokale
        producenten.
    </h6>

    <!-- label -->
    <span class="label text-center btn-lg btn-block mt-5 mb-5 label-title">RECENTE PRODUCTEN</span>
    <!-- recent products cards -->
    <div class="card-deck mb-5">

        <div class="row col-12 mr-5 p-0">
            <div *ngFor="let product of jsonData" class="col-lg-3 col-md-4 mb-3">
                <div class="card" style="width: 110%; height: 100%">
                    <a routerLink="/product-detail" [queryParams]="{id: product.id}"><img
                        class="productImage"
                        [src]="demoImage.sanatizeUrl(product.productImage!=null?demoImage.atoba(product.productImage.picByte):demoImage.productBase64Url)"
                        alt="{{product.name}}"/></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a routerLink="/product-detail" [queryParams]="{id: product.id}">{{product.name}}</a>
                        </h4>
                        <h5> €{{product.price}}/{{demoImage.determineUnitPricing(product)}}</h5> <!-- Het beste alles €/kg-->
                        <p class="card-text">{{product.description}}</p>
                    </div>
                </div>
            </div>
        </div>

    <!-- label -->
    <span class="label text-center btn-lg btn-block mt-5 mb-5 label-title">BEST VERKOCHT</span>
    <!-- most sold products cards -->
    <div class="card-deck mb-5">

        <div class="row col-12 mr-5 p-0">
            <div *ngFor="let product of jsonData2" class="col-lg-3 col-md-4 mb-3">
                <div class="card" style="width: 110%; height: 100%">
                    <a routerLink="/product-detail" [queryParams]="{id: product.id}"><img
                        class="productImage"
                        [src]="demoImage.sanatizeUrl(product.productImage!=null?demoImage.atoba(product.productImage.picByte):demoImage.productBase64Url)"
                        alt="{{product.name}}"/></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a routerLink="/product-detail" [queryParams]="{id: product.id}">{{product.name}}</a>
                        </h4>
                        <h5> €{{product.price}}/{{demoImage.determineUnitPricing(product)}}</h5> <!-- Het beste alles €/kg-->
                        <p class="card-text">{{product.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>
