<!-- The Header with General Information Supplier -->
<div class="container">
    <div class="row backgroundInfo">
        <div class="col-md-10 backgroundInfoDetail center">
            <div class="row p-3">
                <div class="col-md-2 col-sm-12">
                    <img src="https://image.freepik.com/vrije-vector/fruit-en-groenten-logo_7085-159.jpg"
                         class="supplierImg" alt="">
                </div>
                <div class="col-md-5 col-sm-12 p-3 pl-5">
                    <b>{{jsonSupplierData.companyName}}</b>
                    <br>
                    <p>{{jsonSupplierData.shortDescription}}</p>
                </div>
                <div class="col-md-5 col-sm-12 p-3">
                    <b>Gegevens: </b>
                    <li *ngIf="jsonSupplierData.website !=null">Website: {{jsonSupplierData.website}}</li>
                    <li *ngIf="jsonSupplierData.phoneNumber !=null">Telefoon: {{jsonSupplierData.phonenumber}}</li>
                    <li *ngIf="jsonSupplierData.contactEmail !=null">Email: {{jsonSupplierData.contactEmail}}</li>
                    <li *ngIf="jsonSupplierData.addresses !=null">Adress: {{concatAddress()}}</li>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <p>Feedback Waarderingen:</p>
                    <img src="https://i.imgur.com/hQr5v1E.png" alt="" style="max-width: 100px"> (5/5)
                </div>
                <div class="col-md-8 col-sm-12">
                    <ul class="text-left quickLinks">
                        <li><a href="#" routerLink="/supplierinfo">| Aangeboden Objecten | </a></li>
                        <li><a href="mailto:{{jsonSupplierData.contactEmail}}"> Contact | </a></li>
                        <li><a href="https://www.facebook.com/deduintuinheemskerk/" target="_blank"> Facebook | </a></li>
                    </ul>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-primary" class="editButton" [routerLink]="['edit']">Wijzig</a>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-top:50px;">
        <hr>
    </div> <!-- Just add some margin top -->

    <!-- Supplier Description Section -->
    <div class="row p-3">
        <div class="col-sm-12">
            <h5> {{jsonSupplierData.companyName}} </h5>
            <p>
                {{jsonSupplierData.description}}
            </p>
        </div>
    </div>
    <hr>

    <!-- List of Recent Added products horizontally aligned -->
    <div class="row p-3 pb-5" style="margin: auto">
        <div class="col-sm-12">
            <h5 class="text-center"> Aangeboden Producten </h5>
        </div>

        <app-recent-product *ngFor="let recentProduct of jsonSupplierData.products; let i = index" [product]="recentProduct"></app-recent-product>

        <!--<div class="row">
            <div class="col-md-3 col-sm-12 p-3" >
                <div class="row" style="border:1px solid grey;border-radius: 10px;">
                    <div class="col-sm-12 text-center">
                        <img class="center-block" src="https://i.imgur.com/69ugqx3.png" alt="" style="max-width: 250px">
                    </div>
                    <hr>
                    <div class="col-sm-12 bg-light" style="width: 100%; padding: 15px">
                        <b>Brocoli 450gr</b>
                        <br>
                        <i>€20,5</i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 p-3" >
                <div class="row" style="border:1px solid grey;border-radius: 10px">
                    <div class="col-sm-12 text-center">
                        <img class="center-block" src="https://i.imgur.com/69ugqx3.png" alt="" style="max-width: 250px">
                    </div>
                    <hr>
                    <div class="col-sm-12 bg-light" style="width: 100%; padding: 15px">
                        <b>Brocoli 450gr</b>
                        <br>
                        <i>€20,5</i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 p-3" >
                <div class="row" style="border:1px solid grey;border-radius: 10px">
                    <div class="col-sm-12 text-center">
                        <img class="center-block" src="https://i.imgur.com/69ugqx3.png" alt="" style="max-width: 250px">
                    </div>
                    <hr>
                    <div class="col-sm-12 bg-light" style="width: 100%; padding: 15px">
                        <b>Brocoli 450gr</b>
                        <br>
                        <i>€20,5</i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 p-3">
                <div class="row" style="border:1px solid grey;border-radius: 10px">
                    <div class="col-sm-12 text-center">
                        <img class="center-block" src="https://i.imgur.com/69ugqx3.png" alt="" style="max-width: 250px">
                    </div>
                    <hr>
                    <div class="col-sm-12 bg-light" style="width: 100%; padding: 15px">
                        <b>Brocoli 450gr</b>
                        <br>
                        <i>€20,5</i>
                    </div>
                </div>
            </div>
       </div>-->

        <div class="col-sm-12">
            <a href="" routerLink="supplierProducts" class="float-right">Zie alle producten</a>
        </div>

    </div>
</div>









