<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center mt-5">
            <h2>Contact</h2>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
            <form id="contact-form" class="form" role="form" [formGroup]="contactForm">
                <div class="form-group">
                    <label class="form-label" for="name">Naam</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Vul hier je naam in"
                           tabindex="1" formControlName="name"
                           [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                           required>

                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Naam is verplicht</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">E-mailadres</label>
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="Vul hier je e-mailadres in" tabindex="2" formControlName="email"
                           [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">E-mailadres is verplicht</div>
                        <div *ngIf="f.email.errors.email">E-mailadres is niet geldig</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Onderwerp</label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Onderwerp"
                           tabindex="3" formControlName="subject"
                           [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" required>

                    <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                        <div *ngIf="f.subject.errors.required">Onderwerp is verplicht</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="message">Bericht</label>
                    <textarea rows="5" cols="400" name="message" class="form-control" id="message"
                              placeholder="Hier typen..." tabindex="4" formControlName="message"
                              [ngClass]="{ 'is-invalid': submitted && f.message.errors }" required></textarea>

                    <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                        <div *ngIf="f.message.errors.required">Bericht is verplicht</div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" (click)="sendMail()" class="btn my-3 mb-5 p-3 send-button float-right">
                        Verzend
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
