<div class="addForm mt-4 p-4 mb-4">
    <div class="row">
        <div class="col-lg col-md-6 mb-4">
            <h3>Vraag een product aan</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-8 mb-4">
            <form>
                <div class="form-group row">
                    <label for="inputTitel" class="col-sm-2 col-form-label">Product:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputTitel" placeholder="Titel">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Categorie:</label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option>Groente & fruit</option>
                            <option>Zuivel</option>
                            <option>Bakkerij</option>
                            <option>Dranken</option>
                            <option>Vlees</option>
                            <option>Vega</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputStock" class="col-sm-2 col-form-label">Hoeveelheid:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputStock" placeholder="kg">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Datum:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="date" value="2020-11-20" id="example-date-input">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-10">
                        <label for="exampleFormControlTextarea1">Beschrijving (optioneel)</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2" (click)="postRequest()">Vraag aan</button>
            </form>
        </div>
    </div>
</div>
