.block {
    margin-left: 5%;
    overflow: hidden;
}

.label-title{
    color: #265139;
    font-weight: bold;
}

#uploadImage {
    text-decoration: line-through !important;
}

.line-collapse{
    border-width: 0px;
    border-color: black;
    border-style: solid;
    border-bottom-width: 1px;
    font-size: smaller;
}
