<div id="faq" class="faq section-bg mt-3 mb-5">
    <div class="container">
        <div class="section-title">
            <h2>FAQ</h2>
        </div>
        <div class="accordion-list mt-5">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
                                                                   href="#accordion-list-1"> Wat is Van Streek?
                    <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                        <p>Van Streek is een website met als doel lokale afnemers en leveranciers in contact met elkaar
                            te brengen.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-2"
                                                                   class="collapsed">Hoe kan ik registeren? <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                        <p>In de rechterhoek van de webpagina vind je
                            <u><span class="font-weight-bold" role="button"
                                     routerLink="/login">'INLOGGEN / REGISTREREN'</span></u>.
                            Die wijst je door naar de inloggen en registreren functies op onze website.
                            <br>Aan de rechterkant vind je een 'Maak account aan' knop.
                            Vul de formulier in en er wordt een mail verzonden waarmee je je email kunt verifiëren om
                            aan de slag te gaan.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-3"
                                                                   class="collapsed"> Hoe kom ik in contact met een
                    leverancier? <i
                        class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                        <p>Je kunt op twee manieren in contact komen met een leverancier:<br>
                            1. Via de <u><span class="font-weight-bold" role="button"
                                               routerLink="/products">productenpagina</span></u> kan je een product
                            aanklikken van een specifieke leverancier
                            en de 'Vraag factuur aan' knop gebruiken om te chatten.
                            <br>
                            2. Via de <u><span class="font-weight-bold" role="button"
                                               routerLink="/suppliers">'Alle leveranciers'</span></u> in de footer, kun
                            je een
                            leverancier uitkiezen en op 'Contact'
                            klikken om een email te verzenden.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-4"
                                                                   class="collapsed"> Hoe plaats ik een bestelling? <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
                        <p>Het bestellen kan via de 'Vraag factuur aan' knop bij een gewenste product en na overeenkomst
                            met de leverancier kan de bestelling worden geplaatst.</p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-5"
                                                                   class="collapsed"> Het product dat ik zocht staat
                    niet tussen de producten?
                    <i class="bx bx-chevron-down icon-show"></i><i
                        class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-5" class="collapse" data-parent=".accordion-list">
                        <p>Als het product niet tussen de lijst staat kun je die aanvragen door het tabje rechtsonder
                            van de webpagina op de <u><span class="font-weight-bold" role="button"
                                                            routerLink="/products">productenpagina</span></u>. Deze
                            aanvraag komt terecht bij alle leveranciers en
                            zij hebben de keuze om hierop te reageren.</p>
                    </div>
                </li>

<!--                <li data-aos="fade-up" data-aos-delay="300">-->
<!--                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-6"-->
<!--                                                                   class="collapsed"> Is Van Streek veilig te-->
<!--                    gebruiken? <i class="bx bx-chevron-down icon-show"></i><i-->
<!--                        class="bx bx-chevron-up icon-close"></i></a>-->
<!--                    <div id="accordion-list-6" class="collapse" data-parent=".accordion-list">-->
<!--                        <p>Van Streek is zeker veilig te gebruiken. De gegevens van de gebruikers worden veilig-->
<!--                            opgeslagen en beschermd.</p>-->
<!--                    </div>-->
<!--                </li>-->

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-7"
                                                                   class="collapsed"> Mijn vraag staat hier niet tussen?
                    <i class="bx bx-chevron-down icon-show"></i><i
                        class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-7" class="collapse" data-parent=".accordion-list">
                        <p>Is jouw vraag nog niet beantwoord? Klik <span class="font-weight-bold" role="button"
                                                                         routerLink="/contact">hier</span> om direct
                            contact
                            met ons op te nemen.</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
