<div *ngFor="let obj of jsonData;">{{obj}}</div>
<div class="row">

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img src="../../../assets/images/bloemkolen.jpeg" style="width: 100%; height: 100%" alt="Bloemkool"/></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">10 kg bloemkool</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">10 Kilo verse bloemkool</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img src="../../../assets/images/bloemkolen.jpeg" style="width: 100%; height: 100%" alt="Bloemkool"/></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">10 kg bloemkool</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">10 Kilo verse bloemkool</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img src="../../../assets/images/bloemkolen.jpeg" style="width: 100%; height: 100%" alt="Bloemkool"/></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">10 kg bloemkool</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">10 Kilo verse bloemkool</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img src="../../../assets/images/bloemkolen.jpeg" style="width: 100%; height: 100%" alt="Bloemkool"/></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">10 kg bloemkool</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">10 Kilo verse bloemkool</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img src="../../../assets/images/bloemkolen.jpeg" style="width: 100%; height: 100%" alt="Bloemkool"/></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">10 kg bloemkool</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">10 Kilo verse bloemkool</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img src="../../../assets/images/bloemkolen.jpeg" style="width: 100%; height: 100%" alt="Bloemkool"/></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">10 kg bloemkool</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">10 Kilo verse bloemkool</p>
            </div>
        </div>
    </div>
</div>
