<footer class="footer pt-4">
    <div class="container text-center text-md-left footer-container">

        <!-- footer row -->
        <div class="row">
            <!-- about company -->
            <div class="col-md-5 mr-5">
                <h6 class="font-weight-bold mt-3 mb-4">Van Streek: jouw online webshop</h6>
                <p>Hoe breng je lokale leveranciers het meest effectief in contact met lokale afnemers?
                    <br>
                    <br>
                    Dat vroegen we af voordat Van Streek werd opgericht.
                    <br>
                    Dit vraagstuk is dan ook precies wat we willen aanpakken en oplossen met het systeem van Van Streek.
                </p>
            </div>

            <!-- clearfix -->
            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-2 ml-1">
                <h6 class="font-weight-bold mt-3 mb-4">OVER VAN STREEK</h6>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="">Het bedrijf</a>
                    </li>
                    <li>
                        <a routerLink="/contact">Contact</a>
                    </li>
                    <li>
                        <a routerLink="/faq">FAQ</a>
                    </li>
                    <li>
                        <a routerLink="">Lorem ipsum</a>
                    </li>
                </ul>
            </div>

            <!-- clearfix -->
            <hr class="clearfix w-100 d-md-none">

            <div class="ml-4 leverancier-col">
                <h6 class="font-weight-bold mt-3 mb-4">ONZE LEVERANCIERS</h6>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                </ul>
            </div>

            <!-- clearfix -->
            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-2 ml-2">
                <h6 class="font-weight-bold mt-3 mb-4">VOLG ONS</h6>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Lorem ipsum</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <hr>

    <!-- copyright -->
    <div class="footer-copyright text-left py-3">© 2020 Copyright
        <a href="#">Algemene voorwaarden</a>
        <a href="#">Privacybeleid</a>
        <a href="#">Cookiebeleid</a>
        <a routerLink="/faq">FAQ</a>
    </div>
</footer>
